body {
    background-image: url("../../img/otroFondo.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Chiller', sans-serif;
}

.home-title {
    margin-bottom: 50px;
    /* Espacio entre el título y los botones */
}

.titulo3 {
    font-size: 3rem;
    color: #d3e0e1;
    text-shadow: 7px 7px 15px rgb(247, 95, 7);
}

.btnHome {
    font-size: 1.5rem;
    /* Tamaño de fuente más grande */
    padding: 15px 30px;
    /* Botones más grandes */
    margin: 20px;
    border: none;
    border-radius: 50px;
    /* Borde redondeado */
    color: #fff;
    background-color: transparent;
    border: 4px solid #ff5722;
    /* Borde más grueso */
    box-shadow: 0 0 60px rgba(255, 86, 34, 0.635);
    /* Sombra más pronunciada */
    transition: all 0.3s ease-in-out;
    margin: 80px 160px;
}

.btn:hover {
    background-color: #ff5722;
}